<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
   <welcome-file-list>
    <welcome-file>View/home.jsp</welcome-file>
   </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Email Configuration -->
    <context-param>
        <param-name>MAIL_FROM</param-name>
        <param-value>tinygamevn132@gmail.com</param-value>
    </context-param>
    
    <context-param>
        <param-name>MAIL_APP_PASSWORD</param-name>
        <param-value>ijolltlwnhycvvkc</param-value>
    </context-param>
    
    <!-- Servlet mapping cho việc phục vụ ảnh từ folder cố định -->
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>Controller.ImageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VnPayCreateServlet</servlet-name>
        <servlet-class>Controller.VnPayCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayCreateServlet</servlet-name>
        <url-pattern>/payment/vnpay/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VnPayReturnServlet</servlet-name>
        <servlet-class>Controller.VnPayReturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayReturnServlet</servlet-name>
        <url-pattern>/payment/vnpay/return</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VnPayIpnServlet</servlet-name>
        <servlet-class>Controller.VnPayIpnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayIpnServlet</servlet-name>
        <url-pattern>/payment/vnpay/ipn</url-pattern>
    </servlet-mapping>
    
</web-app>
