<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
   <welcome-file-list>
    <welcome-file>View/home.jsp</welcome-file>
   </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Email Configuration -->
    <context-param>
        <param-name>MAIL_FROM</param-name>
        <param-value>tinygamevn132@gmail.com</param-value>
    </context-param>
    
    <context-param>
        <param-name>MAIL_APP_PASSWORD</param-name>
        <param-value>ijolltlwnhycvvkc</param-value>
    </context-param>
    
    <!-- Servlet mapping cho việc phục vụ ảnh từ folder cố định -->
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>Controller.Image</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VnPayCreate</servlet-name>
        <servlet-class>Controller.VnPayCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayCreate</servlet-name>
        <url-pattern>/payment/vnpay/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VnPayReturn</servlet-name>
        <servlet-class>Controller.VnPayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayReturn</servlet-name>
        <url-pattern>/payment/vnpay/return</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VnPayIpn</servlet-name>
        <servlet-class>Controller.VnPayIpn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnPayIpn</servlet-name>
        <url-pattern>/payment/vnpay/ipn</url-pattern>
    </servlet-mapping>
    
</web-app>
